.block {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 2px;
  user-select: none;
}

.title {
  padding: 1.333rem;
  font-size: 1.333rem;
  font-weight: 600;
  color: #31445b;
  border-bottom: 1px solid rgba(230, 230, 231, 0.5);
  cursor: pointer;
}

.content {
  padding: 1.333rem;
}

.header {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header > a {
  color: inherit;
}

.header > span {
  margin-left: auto;
  font-size: 1rem;
  color: #8a9aa9;
}

.section {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(230, 230, 231, 0.5);
}

.profileSidebar {
  overflow: auto;
  height: calc(100vh - 8rem);
  padding-right: 16px;
}
