.text-gray-600 {
  color: #8a9aa9;
}
.text-gray-300 {
  color: #939aa3a3;
}
.text-center {
  text-align: center;
}

.statistics {
  margin-top: 10px;
}
.statistics .count {
  font-size: 16px;
}

.statistics .hint {
  margin-top: 4px;
}

.flex {
  display: flex;
}

.flex .item {
  flex: 1;
  text-align: center;
}

.progress {
  --progress: 0;
  border-radius: 20px;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
  background-color: #f4f5f5;
}
.progress > i {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  color: hsl(0, 0%, calc((var(--progress) * 0.2 + 0.8) * 100%));
}
.progress:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--progress) * 100%);
  background-color: #007fff;
}

.streakItem {
  font-size: 1.75rem;
  font-weight: 600;
}

.streakItem > span {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 4px;
}

.warningPopup {
  position: relative;
}

.warningPanel {
  position: absolute;
  display: none;
  padding: 0.6rem;
  background-color: #fff;
  border: 1px solid #f3f3f4;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  z-index: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.encourageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.encourageHeader > h3 {
  margin-bottom: 0.5em;
}
.encourageHeader > a {
  color: #8a9aa9;
}

.encourageEditor {
  border-radius: 4px;
  border: 1px solid #f4f5f5;
  padding: 6px;
  color: #31445b;
}

.encouragePreview {
  margin: 0;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(72 161 254);
  letter-spacing: 1px;
}
